@import url(./__content/edit__content.css);
@import url(./__close/edit__close.css);
@import url(./__title/edit__title.css);
@import url(./__form/edit__form.css);
@import url(./__input/edit__input.css);
@import url(./__button/edit__button.css);
@import url(./_is-opened/edit_is-opened.css);

.edit {
 
 position: absolute;
  width: 430px;
  top: calc(50vh - 187px);
  left: calc(50% - 215px);
  /* background-color: rgba(0, 0, 0, .5); */
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
